@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply text-body-medium;
  }

  h1 {
    @apply text-title-large font-semibold;
  }

  button {
    @apply block mb-4 p-1 w-full border-4 rounded-md;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
